<.header>
  Novo cadastro
  <:subtitle>Use este formulário para criar um cadastro.</:subtitle>
</.header>

<.user_form changeset={@changeset} action={@action} />

<.back navigate={~p"/"}>Voltar ao início</.back>
