<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:email]} type="text" label="email" />
  <.input field={f[:senha]} type="text" label="senha" />
  <:actions>
    <.button>Login</.button>
  </:actions>
</.simple_form>
