<.header>
  Editar Usuário <%= @user.id %>
  <:subtitle>Use este formulário para editar o seu perfil.</:subtitle>
</.header>

<.user_form changeset={@changeset} action={~p"/user/settings/#{@user}"} />

<.back navigate={~p"/"}>Voltar ao início</.back>
