<.header>
  Edit User <%= @user.id %>
  <:subtitle>Use this form to manage user records in your database.</:subtitle>
</.header>

<.user_form changeset={@changeset} action={~p"/user/settings/#{@user}"} />

<.back navigate={~p"/"}>Back to users</.back>
