<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Alguma coisa deu errado! Verifique os erros abaixo.
  </.error>
  <.input field={f[:email]} type="text" label="Email" />
  <.input field={f[:senha]} type="text" label="Senha" />
  <:actions>
    <.button>Login</.button>
  </:actions>
</.simple_form>
