<.header>
  Recuperação de senha
  <:subtitle>Use este formulário para enviar uma solicitação de redefinição de senha.</:subtitle>
</.header>

<.user_form changeset={@changeset} action={@action} />

<.back navigate={~p"/user/login"}>Voltar para o login</.back>
