<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Algo deu errado, cheque os erros abaixo.
  </.error>
  <.input field={f[:email]} type="text" label="Email" />
  <:actions>
    <.button>Recuperar senha</.button>
  </:actions>
</.simple_form>
