<.header>
  Novo Insumo
  <:subtitle>Use este formulário para criar Insumos.</:subtitle>
</.header>

<.supply_form changeset={@changeset} action={~p"/supplies"} tipos={@tipos} />

<.back navigate={~p"/supplies"}>Voltar aos Insumos</.back>
